<h1>hello world</h1>
<!--<div class="wrap">
  <div class="element"><app-elementofperiodic></app-elementofperiodic></div>
  <div class="element"><app-elementofperiodic></app-elementofperiodic></div>
  <div class="element"><app-elementofperiodic></app-elementofperiodic></div>
  <div class="element"><app-elementofperiodic></app-elementofperiodic></div>
  <div class="element"><app-elementofperiodic></app-elementofperiodic></div>
  <div class="element"><app-elementofperiodic></app-elementofperiodic></div>
  <div class="element"><app-elementofperiodic></app-elementofperiodic></div>
  <div class="element"><app-elementofperiodic></app-elementofperiodic></div>
  <div class="element"><app-elementofperiodic></app-elementofperiodic></div>
  <div class="element"><app-elementofperiodic></app-elementofperiodic></div>
  <div class="element"><app-elementofperiodic></app-elementofperiodic></div>
  <div class="element"><app-elementofperiodic></app-elementofperiodic></div>
  <div class="element"><app-elementofperiodic></app-elementofperiodic></div>
  <div class="element"><app-elementofperiodic></app-elementofperiodic></div>
  <div class="element"><app-elementofperiodic></app-elementofperiodic></div>
  <div class="element"><app-elementofperiodic></app-elementofperiodic></div>
  <div class="element"><app-elementofperiodic></app-elementofperiodic></div>
  <div class="element"><app-elementofperiodic></app-elementofperiodic></div>
</div>-->
<div class="wrap">
  <div class="element" *ngFor="let item of elemnetOfList; let i = index">
    <app-elementofperiodic [elemnet]="item"></app-elementofperiodic>
  </div>
</div>
<p></p>
<div class="wrap">
  <div class="element" *ngFor="let item of lanthanoidsOfList; let i = index">
    <app-elementofperiodic [elemnet]="item"></app-elementofperiodic>
  </div>
</div>
<div class="wrap">
  <div class="element" *ngFor="let item of actinideOfList; let i = index">
    <app-elementofperiodic [elemnet]="item"></app-elementofperiodic>
  </div>
</div>
<router-outlet></router-outlet>
