<div class="element" *ngIf="elemnet.AtomicNumber != null">
  <div class="{{elemnet.Trend}}-block">
    <div class="atomic-number">{{elemnet.AtomicNumber}}</div>
    <div class="symbol">{{elemnet.Symbol}}</div>
    <div class="name">{{elemnet.Name}}</div>
    <div class="atomic-weight">{{elemnet.AtomicWeight}}</div>
    <div class="electron-shell">
      <ul>
          <li *ngFor="let item of elemnet.ElectronShell; let i = index">{{item}}</li>
      </ul>
    </div>
  </div>
</div>
<div class="element" *ngIf="elemnet.AtomicNumber == null">
  <div class="blank-block">
  </div>
</div>

