.element {
  width: 66px;

  .blank-block {
    background: white;
  }

  .other-nonmetals-block {
    background: #9fc97d;

    .atomic-number {
      color: white;
    }

    .symbol {
      color: white;
    }

    .name {
      color: red;
    }

    .atomic-weight {
      color: white;
    }
  }

  .noble-gases-block {
    background: #fdb4cd;

    .atomic-number {
      color: black;
    }

    .symbol {
      color: black;
    }

    .name {
      color: red;
    }

    .atomic-weight {
      color: black;
    }
  }

  .alkali-metal-block {
    background: #ff0000;

    .atomic-number {
      color: white;
    }

    .symbol {
      color: white;
    }

    .name {
      color: black;
    }

    .atomic-weight {
      color: white;
    }
  }

  .alkaline-earth-metal-block {
    background: #f9a71d;

    .atomic-number {
      color: white;
    }

    .symbol {
      color: white;
    }

    .name {
      color: black;
    }

    .atomic-weight {
      color: white;
    }
  }

  .metalloid-block {
    background: #fdcf07;

    .atomic-number {
      color: black;
    }

    .symbol {
      color: black;
    }

    .name {
      color: black;
    }

    .atomic-weight {
      color: black;
    }
  }

  .post-​transition-metal-block {
    background: #c096e0;

    .atomic-number {
      color: white;
    }

    .symbol {
      color: white;
    }

    .name {
      color: black;
    }

    .atomic-weight {
      color: white;
    }
  }

  .transition-metal-block {
    background: #99bfe6;

    .atomic-number {
      color: black;
    }

    .symbol {
      color: black;
    }

    .name {
      color: black;
    }

    .atomic-weight {
      color: black;
    }
  }

  .lanthanoids-block {
    background: #1797d9;

    .atomic-number {
      color: white;
    }

    .symbol {
      color: white;
    }

    .name {
      color: black;
    }

    .atomic-weight {
      color: white;
    }
  }

  .actinide-block {
    background: #4fedb8;

    .atomic-number {
      color: black;
    }

    .symbol {
      color: black;
    }

    .name {
      color: black;
    }

    .atomic-weight {
      color: black;
    }
  }

  .unknown-block {
    background: #c4c4c4;

    .atomic-number {
      color: black;
    }

    .symbol {
      color: black;
    }

    .name {
      color: black;
    }

    .atomic-weight {
      color: black;
    }
  }


  .atomic-number {
    font-size: 10px;
    margin-left: 2px;
  }

  .symbol {
    font-size: 34px;
    font-family: monospace;
    font-weight: bolder;
    margin-left: 2px;
  }

  .name {
    font-size: 10px;
    margin-left: 2px;
  }

  .atomic-weight {
    font-size: 10px;
    margin-left: 2px;
    margin-top: 2px;
  }

  .electron-shell {
    float: right;
    position: inherit;
    margin-top: -84px;
    height: 55px;
    margin-right: 4px;

    ul {
      list-style: none;
      font-size: 10px;
    }
  }
}
